body {
  background-color: #fff;
}

.nav {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 25px;
  float: right;
  z-index: +1;
  background-color: #29b6f6;
}

.nav li {
  display: inline;
}

.nav a {
  font-size: 13pt;
  color: #fff;
}

#pri {
  border: 2px solid #e3e3e3;
  line-height: 32px;
}

.primary {
  background-color: #fff
  color: #000;
  border-top: 1px solid #e3e3e3;
}

#hero {
  position: absolute;
  background-color: #29b6f6;
  width: 100%;
  height: 60%;
  color: #fff;
}

#hero b {
  color: #3e3e3e;
}

.wrapper {
  position: absolute;
  top: 60%;
  width: 100%;
  background-color: #fff;
}

.content {
  margin-top: 50px;
  margin-bottom: 35px;
}

.content .col {
  margin-bottom: 15px;
}

.col-header {
  font-size: 18pt;
  font-weight: bold;
  letter-spacing: 2px;
}

#specs .collection {
  max-width: 100%;
  margin: 0 auto;
  font-size: 15pt;
}

#specs .collection li {
  overflow: auto;
}

footer {
  background-color: #29b6f6;
}
