@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

body {
  background-color: #fff;
  color: #858585;
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.nav {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px 25px 10px 25px;
  width: 100%;
  z-index: +1;
  background-color: #29b6f6;
}

.nav ul {
  float: right;
}

.nav li {
  display: inline;
  font-weight: 400;
}

.nav a {
  font-size: 13pt;
  color: #fff;
}

#pri {
  border: 2px solid #e3e3e3;
  line-height: 32px;
}

.primary {
  background-color: #fff
  color: #000;
  border-top: 1px solid #e3e3e3;
}

#hero {
  position: absolute;
  background-color: #29b6f6;
  width: 100%;
  height: 60%;
  color: #fff;
}

#hero b {
  color: #3e3e3e;
}

.wrapper {
  position: absolute;
  top: 60%;
  width: 100%;
  background-color: #fff;
}

.content {
  margin-top: 50px;
  margin-bottom: 35px;
}

.primary {
  padding-top: 50px;
  padding-bottom: 35px;
  margin-bottom: 0px;
}

.content .col {
  margin-bottom: 15px;
}

.col-header {
  font-size: 18pt;
  font-weight: 600;
  letter-spacing: 2px;
  color: #3e3e3e;
}

.content p, .primary p {
  font-size: 16pt;
  font-weight: 400;
}

.content ul, .primary ul {
  font-size: 14pt;
  font-weight: 300;
}

.content ul b, .primary ul b {
  font-size: 16pt;
  color: #3e3e3e;
}

.member {
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 25px 25px 5px 25px;
  margin-bottom: 25px;
}

.member img {
  width: 50%;
  margin: 0px auto;
  border-radius: 50%;
}

.member .name {
  margin-top: 10px;
  font-size: 20pt;
  font-weight: 400;
  color: #3e3e3e;
}

.member p {
  margin-top: 10px;
}

.member hr {
  display: block;
  height: 1px;
  width: 85%;
  border: 0;
  border-top: 1px solid #e3e3e3;
  margin: 1em auto;
  padding: 0;
}

.member .social {
  width: 100%;
}

.member .social li {
  display: inline;
}

.member .social i {
  margin: 0px 10px 0px 10px;
  color: #3e3e3e;
}

.member .social i:hover {
  color: #03a9f4;
}

footer {
  background-color: #29b6f6;
}
