body {
  background-color: #fff;
}

.nav {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 25px;
  float: right;
  z-index: +1;
  background-color: #29b6f6;
}

.nav li {
  display: inline;
}

.nav a {
  font-size: 13pt;
  color: #fff;
}

#pri {
  border: 2px solid #e3e3e3;
  line-height: 32px;
}

.primary {
  background-color: #fff
  color: #000;
  border-top: 1px solid #e3e3e3;
}

#hero {
  position: absolute;
  background-color: #29b6f6;
  width: 100%;
  height: 60%;
  color: #fff;
}

#hero b {
  color: #3e3e3e;
}

.wrapper {
  position: absolute;
  top: 60%;
  width: 100%;
  background-color: #fff;
}

.content {
  margin-top: 50px;
  margin-bottom: 35px;
}

.content .col {
  margin-bottom: 15px;
}

.col-header {
  font-size: 18pt;
  font-weight: bold;
  letter-spacing: 2px;
}

#specs .collection {
  max-width: 100%;
  margin: 0 auto;
  font-size: 15pt;
}

#specs .collection li {
  overflow: auto;
}

footer {
  background-color: #29b6f6;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:200);

body {
    color: #858585;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 200;
}

h4,
.h4{
    font-size: 18px;
    font-weight: bold;
}

.container {
    width: 1170px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.team
{
    width: 370px;
    min-height: 100%;
    border: 1px solid rgba(133,133,133,.15);
    background-color: #fff;
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.09);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.09);
    box-shadow: 0 0 8px rgba(0,0,0,.09);
    float: left;
    margin-left: 16px;
}
.teamimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -80px;
    width:170px;
    height:170px;
    background: #29b6f6;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
}

.teamsocial
{
    height: 48px;
    background-color: #f7f5f5;
    position: relative;
    bottom: -14px;
    left: 0;
}

.facebook-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.twitter-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.google-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.pinterest-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.facebook-team:hover
{
    color: #3B5998;
}

.twitter-team:hover
{
    color: #29b6f6;
}

.google-team:hover
{
    color: #DE5845;
}

.pinterest-team:hover
{
    color: #C51C23;
}

